.product-upload-header {
    background-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .product-upload-header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .product-upload-header nav li {
    margin-right: 20px;
  }
  
  .product-upload-header nav li:last-child {
    margin-right: 0;
  }
  
  .product-upload-header nav a {
    color: #444;
    text-decoration: none;
    font-weight: bold;
  }
  
  .product-upload-header nav a:hover {
    color: #000;
  }
  